# Pastas de build
/bin/
/obj/

# Arquivos compilados
*.o
*.exe

# Configurações do VSCode
/.vscode/

# Exceção: NÃO ignore este arquivo específico dentro da pasta bin
!/bin/NAO_APAGUE_ESSE_ARQUIVO.txt